/* ====================================================

	ICON FONTS!
	font from: www.fontello.com

	Using: 	Entypo
					Zocial
					Brandico
					Web Symbols

==================================================== */

	// Header
	.userinfo-settings {width: 20px; height: 20px; position: relative;}
		.userinfo-settings:before {
			position: absolute;
			top: 4px;
			left: 8px;
			text-indent: 0;
			@include IconFont;
			content: "\e800";
		}
	.userinfo-logout {width: 20px; height: 20px; position: relative;}
		.userinfo-logout:before {
			position: absolute;
			top: 4px;
			left: 8px;
			text-indent: 0;
			@include IconFont;
			content: "\e801";
		}

	// Search
	.search-anchor,
	.search-field-button {position: relative;}
	.search-anchor:after,
	.search-field-button:after {
		position: absolute;
		top: 15px;
		left: 0;
		width: 100%;
		@include IconFont;
		content: "\3f";
		text-indent: 0;
		text-align: center;
		font-size: 180%;
	}
	.search-anchor:after {color: #fff;}
	.search-field-button:after {color: #222;}

	// Search Filters
	.search-field-filters .filter {
		position: relative;
		&:after {
			@include IconFont;
			text-indent: 0;
			text-align: center;
			position: absolute;
			top: 2px;
			left: 0;
			width: 100%;
			font-size: 100%;
			color: #949494;
			text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
		}
		&.filter-stacks:after {content: "\63";}
		&.filter-forum:after {content: "\e71a";}
		&.filter-members:after {content: "\6d";}
		&.filter-group:after {content: "\67";}
		&.active:after {
			color: #4666ac;
		}
	}

	// Profile Icons
	// Social Networking Icons
	#item-buttons {
		#send-private-message a {
			position: relative;
			background: transparent !important;
			&:before {
				@include IconFont;
				position: absolute;
				text-indent: 0;
				content: "\45";
				text-align: center;
				color: #222;
				font-style: normal;
				width: 100%;
				top: 0;
				left: 0;
			}
		}
		.icon {
			text-indent: 0;
			text-align: center;
			position: relative;
			@include IconFont;
			i:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				color: #222;
				font-style: normal;
				width: 30px;
				text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
			}
			&.field_steam-community i:after {content: '\3d';}
			&.field_facebook i:after {content: '\71';}
			&.field_google i:after {content: '\34';}
			&.field_twitter i:after {content: '\28';}
			&.field_flickr i:after {content: '\26';}
			&.field_linkedin i:after {content: '\f31b';}
			&.field_last-fm i:after {content: '\f318';}
			&.field_reddit i:after {content: '\23';}
			&.field_instagram i:after {content: '\f31f';}
			&.field_vimeo i:after {content: '\2d';}
			&.field_youtube i:after {content: '\29';}
			&.field_pinterest i:after {content: '\36';}
			&.field_tumblr i:after {content: '\74';}
			&.field_github i:after {content: '\77';}
			&.field_stumbleupon i:after {content: '\35';}
			&.field_picasa i:after {content: '\f31c';}
			&.field_forrst i:after {content: '\39';}
			&.field_dribble i:after {content: '\5e';}
			&.field_digg i:after {content: '\21';}
			&.field_delicious i:after {content: '\31';}
		}
	}

	// Calendar Arrows
	.calendar-nextprev {
		a {
			position: relative;
		}
		a:before {
			@include IconFont;
			text-indent: 0;
			position: absolute;
			width: 100%;
			display: block;
			text-align: center;
			top: 13px;
			color: #fff;
		}
		.calendar-last-month a:before {content: "\e75d";}
		.calendar-next-month a:before {content: "\e75e";}
	}

	// Stack Posts
	// Comments/Perma/Edit Stack
	.stackTextMeta {
		.perma:before,
		.edit a:before,
		.comments:before {
			float: left;
			width: 22px;
			@include IconFont;
		}
		.comments:before {content: "\e720";}
		.perma:before {content: "\3c";}
		.edit a:before {content: "\65";}
	}
	// Stack Location (map pin icon)
	.stackLocation:before {
		float: left;
		width: 32px;
		font-size: 200%;
		margin-top: -8px;
		@include IconFont;
		content: "\6c";
	}
	// IRL Stack
	.stack-full .stackArt .stackIRL:before {
		float: left;
		position: absolute;
		top: 12px;
		left: 20px;
		font-size: 150%;
		@include IconFont;
		content: "\e83f";
	}