@import "_variables";
@import "_font-icons";

/* ====================================================

	NORMALISATION

==================================================== */

article,aside,details,figcaption,figure,footer,header,
hgroup,nav,section,summary {display: block;}

audio,canvas,
video {display: inline-block; *display: inline; *zoom: 1;}
audio:not([controls]) {display: none;height: 0;}

[hidden] {display: none;}

html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html,button,input,select,textarea {font-family: sans-serif;}
body {margin: 0; background: #2c2c2c; color: #fff; font-size: 16px;}

a:visited {color: #065c8f;}
a:link {color: $coBlue; text-decoration: none;}
a:focus {outline: thin dotted;}
a:active,
a:hover {outline: 0; color: #0f87ce;}

abbr[title] {border-bottom: 1px dotted;}
b,
strong {font-weight: bold;}
blockquote {margin: 1em 40px;}

dfn {font-style: italic;}
mark {background: #ff0; color: #000;}

p,
pre {margin: 0; padding-bottom: 16px;}
code,kbd,pre,samp {font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em;}
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word;}

q {quotes: none;}
q:before,q:after {content: ''; content: none;}
small {font-size: 75%;}

sub,sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

dl,menu,ol,ul {margin: 1em 0;}
dd {margin: 0 0 0 40px;}
menu,ol,ul {padding: 0 0 0 40px;}
nav ul,nav ol {list-style: none; list-style-image: none;}
img {border: 0; -ms-interpolation-mode: bicubic;}
svg:not(:root) {overflow: hidden;}
figure {margin: 0;}
form {margin: 0;}
fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
legend {border: 0; padding: 0; white-space: normal; *margin-left: -7px;}
button,input,select,textarea,a.button {font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; border: none; background: #fff; border-radius: 3px; padding: 5px;
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	-o-box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0 1px 0px rgba(0,0,0,0.1);
}
button,input {line-height: normal;}
	input:focus,
	input:hover,
	textarea:focus,
	textarea:hover {outline: none;
		-webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 0px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 1px 0px rgba(0,0,0,0.2);
		-o-box-shadow: 0 1px 0px rgba(0,0,0,0.2);
		box-shadow: 0 1px 0px rgba(0,0,0,0.2);
	}
button,html input[type="button"],
input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer; *overflow: visible;}
input[type="submit"],
a.button {background: $coBlue; padding: 5px 15px; color: #fff;
	-webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.8);
	-moz-box-shadow: 0 1px 0px rgba(255,255,255,0.8);
	-ms-box-shadow: 0 1px 0px rgba(255,255,255,0.8);
	-o-box-shadow: 0 1px 0px rgba(255,255,255,0.8);
	box-shadow: 0 1px 0px rgba(255,255,255,0.8);
	}
	input[type="submit"]:hover,
	a.button:hover {background: #549cd9;}
	h3 a.button {font-size: 60%; font-weight: normal;}
button[disabled],input[disabled] {cursor: default;}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; padding: 0; *height: 13px; *width: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,
input::-moz-focus-inner {border: 0; padding: 0;}
textarea {overflow: auto; vertical-align: top;}
table {border-collapse: collapse; border-spacing: 0;}

h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0; font-weight: normal;}
h2 {font-size: 180%;}
h3 {margin: 0 0 20px 0; font-size: 150%;}
h4 {margin: 25px 0 25px 0; font-size: 150%; border-bottom: 1px solid #bbb; padding: 10px 0;}

/* ====================================================

	DESIGN

==================================================== */

// Hide some parts of the admin bar
#wpadminbar .quicklinks > ul {
	#wp-admin-bar-wp-logo,
	#wp-admin-bar-themes,
	#wp-admin-bar-menus  {display: none;}
}

/* Header */
.header {background: #d8d8d9;
	background-image: -webkit-linear-gradient(top, #ededed 0%, #d8d8d8 100%);
	background-image: -moz-linear-gradient(top, #ededed 0%, #d8d8d8 100%);
	background-image: -ms-linear-gradient(top, #ededed 0%, #d8d8d8 100%);
	background-image: -o-linear-gradient(top, #ededed 0%, #d8d8d8 100%);
	background-image: linear-gradient(top, #ededed 0%, #d8d8d8 100%);
	}
	.logo {float: left; width: 218px; height: 74px; background: url("../images/logo.png") top left no-repeat;}
		.logo h1 {display: none;}

	/* User Info */
	.userinfo {float: right; padding: 20px 0; line-height: 22px;}

		.userinfo-messages,
		.userinfo-name,
		.userinfo-settings,
		.userinfo-logout {padding: 5px; float: left; border: 1px solid transparent; background: #ccc; margin-left: 5px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px
		}

		.userinfo-name:hover,
		.userinfo-settings:hover,
		.userinfo-logout:hover {border: 1px solid #ccc; background-color: transparent;
			-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,.75);
			-moz-box-shadow: inset 0 0 2px rgba(255,255,255,.75);
			-ms-box-shadow: inset 0 0 2px rgba(255,255,255,.75);
			-o-box-shadow: inset 0 0 2px rgba(255,255,255,.75);
			box-shadow: inset 0 0 2px rgba(255,255,255,.75);
		}

		.userinfo-messages {font-size: 85%; padding: 5px 15px;}
			.userinfo-messages.new {color: #fff; background: #b93131;}
		.userinfo-name img {float: left; margin-right: 5px;}
		.userinfo-settings {width: 20px; height: 20px; position: relative;}
		.userinfo-logout {width: 20px; height: 20px; position: relative;}

	/* Login form */
	.login {float: right; padding: 10px 0; font-size: 85%;}
		.loginFields {padding-bottom: 6px;}
		.login input[type="submit"] {margin-right: 10px;}
		.loginActions {color: #bbb;}
			.loginActions a {padding: 0 5px;}

/* Navigation */
.navigation {background: #131313; border-bottom: 5px solid $coBlue;
	.cFull {
		position: relative;
	}
}
	.navigation ul,
	.navigation li {margin: 0; padding: 0; list-style: none; float: left;}
	.navigation li {position: relative;}

	/* Top level navigation */
	.navigation .menu > li > a {display: block; line-height: 60px; color: #fff; padding: 0 20px; font-size: 140%; border-right: 1px solid #535353; font-weight: 600; text-transform: lowercase;}
		.navigation .menu > li:first-child > a {border-left: 1px solid #535353;}
		.navigation .menu > li > a:hover,
		.navigation .menu > li:hover > a {background: #044064;}

	/* Second level navigation */
	.navigation .sub-menu {display: none; position: absolute; top: 60px; background: $coBlue; color: #fff; padding: 10px; width: 200px; z-index: 500;}
		.navigation .menu li:hover ul {display: block;}
		.navigation .sub-menu li {float: none;}
			.navigation .sub-menu a {color: #fff; font-size: 110%; display: block; padding: 10px;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				border-radius: 3px
				}
			.navigation .sub-menu a:hover {background: #045b8e;}

	/* Top level search */
	.search-anchor,
	.search-field-button {
		float: right;
		cursor: pointer;
		@include ir;
		//background: url("../images/sprite-icons.png") 3px -1057px no-repeat;
		width: 60px;
		height: 60px;
		@include CoOppTransition;
	}
	.search-anchor:hover {
		background-color: $coBlue;
	}
	.search-anchor.search-field-visible {display: none;}
	.search-field {
		display: none;
		background: #cacaca;
		background-image: -webkit-linear-gradient(top, #cacaca 0%, #d8d8d8 100%);
		background-image: -moz-linear-gradient(top, #cacaca 0%, #d8d8d8 100%);
		background-image: -ms-linear-gradient(top, #cacaca 0%, #d8d8d8 100%);
		background-image: -o-linear-gradient(top, #cacaca 0%, #d8d8d8 100%);
		background-image: linear-gradient(top, #cacaca 0%, #d8d8d8 100%);
		color: #222;
		width: 342px;
		position: absolute;
		top: 0;
		right: 0;
		box-shadow: 0 4px 7px rgba(0,0,0,0.5);
		z-index: 10;
		&.search-field-visible {display: block;}
		.search-field-button {
			float: left;
			background-position: 3px -1107px;
			border-left: 1px solid #e4e4e4;
			position: relative;
			button {
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;
				z-index: 10;
			}
		}
		.search-field-input {
			float: left;
			padding: 10px 16px;
			width: 206px;
			input {
				line-height: 31px;
				height: 31px;
				width: 95%;
			}
		}
		.search-field-cancel {
			float: right;
			background: url("../images/sprite-icons.png") -7px -1152px no-repeat;
			height: 60px;
			width: 42px;
			@include ir;
			border-left: 1px solid #e4e4e4;
			cursor: pointer;
		}
		.search-field-filters {
			clear: both;
			padding-top: 4px;
			background: #c3c3c3;
			background-image: -webkit-linear-gradient(top, #b9bab9 0%, #c3c3c3 100%);
			background-image: -moz-linear-gradient(top, #b9bab9 0%, #c3c3c3 100%);
			background-image: -ms-linear-gradient(top, #b9bab9 0%, #c3c3c3 100%);
			background-image: -o-linear-gradient(top, #b9bab9 0%, #c3c3c3 100%);
			background-image: linear-gradient(top, #b9bab9 0%, #c3c3c3 100%);
			span.label {
				float: left;
				margin: 2px 16px 0;
				font-size: 80%;
				color: #888;
				text-shadow: 0 1px 0 #d4d4d4;
			}
			span.filter {
				width: 26px;
				height: 26px;
				float: left;
				position: relative;
				@include ir;
				margin: 0 7px;
				cursor: pointer;
			}
			input {
				position: absolute;
				opacity: 0;
				width: 100%;
				height: 100%;
				cursor: pointer;
				top: 0;
				left: 0;
				z-index: 10;
			}
		}
	}

	// Mobile menu - hidden by default
	.mobile-menu-hitbox,
	.mobile-account-hitbox,
	.mobile-login-hitbox {display: none;}

/* Page Content */

/* Footer */
.footer {padding: 30px 20px 20px; color: #585858; font-size: 85%; text-align: right;}
	.footer a:visited,
	.footer a:link {color: #585858; text-decoration: underline;}
	.footer a:hover {color: #828282; text-decoration: none;}

/* ====================================================

	SHARED STACK STYLES
	try saying that twenty times fast

==================================================== */

.stack-full,
.stack-short,
.stack-draft {background: #d8d8d8; color: #292727; clear: both;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	}

/* ====================================================

	LARGE STACKS

==================================================== */

.stack-full {margin-bottom: 20px;}
	.singleStack .stack-full {margin-top: 20px;}
	.stack-full .stackArt {position: relative; overflow: hidden; z-index: 4;}
		.stack-full .stackArt img {
			width: 100%;
			height: auto;
			display: block;
		}
	.stack-full .stackArt .stackIRL {position: absolute; top: 0; left: 0; width: 100%; background: $coBlue; background-color: rgba(7,115,179,0.85); color: #fff; font-size: 150%; padding: 20px 20px 17px 58px;}
	.stack-full .stackInfo {position: absolute; bottom: 0; left: 0; width: 100%; background: #b93131; background: rgba(185,49,49,0.85); color: #fff; padding: 20px;}
		.stack-full .stackInfo h2 {font-size: 250%; font-weight: normal; line-height: 1.2;}
		.stack-full .stackInfo h3 {font-size: 120%; font-weight: normal; margin: 0;}

		.stack-full .stackDetails {padding: 20px; position: relative; z-index: 5;}
			.stackDetailsLeft {float: left; width: 70%;}
				.stackLocation {padding: 20px 20px 20px 0; font-size: 110%; margin-bottom: 10px;}
				.stackServerDetails {padding: 20px; background: $coBlue; color: #fff; margin-bottom: 20px; border-radius: 3px;}
				.stack-full .stackText {}
				.stack-full .stackTextMeta {font-size: 85%; padding: 15px 0;}
					.stackTextMeta .perma,
					.stackTextMeta .comments,
					.stackTextMeta .edit a {padding: 3px 23px 0 0; float: left;}
			.stackDetailsRight {float: right; width: 27%;}
				.stackDetailsRight .stackThis {padding: 30px; background: #5b9929; font-size: 160%; font-weight: normal; color: #fff; text-align: center; margin-top: -28px; cursor: pointer; display: block; line-height: 1;}
					.stackDetailsRight .stackThis:hover {
						-moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
						-ms-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
						-o-box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
						box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
					}
					.stackDetailsRight .stackThis.active {
						-moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
						-ms-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
						-o-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
						box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
					}
					.stackDetailsRight .stackThis span {display: block; font-size: 50%; padding-bottom: 5px;}

				.stackDetailsRight .stackThisDisabled {padding: 30px; background: #222; font-size: 160%; font-weight: normal; color: #fff; text-align: center; margin-top: -35px; display: block; line-height: 1;}

				.stackDetailsRight .cancelStack {padding: 10px; background: #bfbfbf;}
				.stackDetailsRight .linkList {padding: 20px 0;}
					.stackDetailsRight .linkList h4 {font-size: 100%; margin: 0;}

	.stackedMembers {padding: 10px 20px; color: #575757; border-top: 1px solid #c0c0c0; font-size: 85%; position: relative;}
		.stackedMembers .stack_number {font-size: 120%; font-weight: bold;}
		.stackedMembers.hasMembers {cursor: pointer; padding-left: 40px;}
		.stackedMembersList {font-size: 85%; position: relative; @include hwacceleration;}
			.stackedMembersListWrapper {padding: 0 20px 20px;}
			.stackedMembersList ul,
			.stackedMembersList li {list-style: none; margin: 0; padding: 0; position: relative;}
			.stackedMembersList li {float: left; width: 33%; box-sizing: border-box;}
				.stackedMembersList li a {padding: 3px; display: block;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					-ms-border-radius: 3px;
					-o-border-radius: 3px;
					border-radius: 3px
					}
					.stackedMembersList li a:hover {background: #bbb; color: #222;}
				.stackedMembersList li img {float: left; margin: 0 5px 0 0; display: block;}
				.stackedMembersList li span {padding: 2px; float: left;}

	.stackTeams {
		padding-bottom: 20px;
		h3 {
			background: $coBlue;
			padding: 10px 20px;
			color: #fff;
		}
		section {
			clear: both;
			padding: 0 20px;
			ul,li {
				list-style: none;
				padding: 0;
				margin: 0;
				clear: both;
			}
			li {
				@include clearfix;
				img {
					float: left;
					margin-right: 5px;
				}
				span {
					color: #888;
					font-size: 80%;
				}
			}
		}
	}

	.stackPosters {background: #b3b3b3; padding: 10px 20px; font-size: 85%;}
		.stackRequested {float: left; padding-right: 20px;}
		.stackPosted {float: right;}
			.stackRequested img,
			.stackPosted img {float: left; margin-right: 5px;}
			.stackRequested span,
			.stackPosted span {float: left; padding: 3px;}

/* ====================================================

	SHORT STACKS

==================================================== */

.stack-short {margin-bottom: 20px; position: relative;}
	//.stack-short:last-child {margin-bottom: 0;}
	.stack-short .stackArt {float: left; position: relative;}
		.stack-short .stackArt img {display: block;}
		.stack-short .stackArt .stackIRL {position: absolute; top: 10px; left: 0; color: #fff; font-weight: bold; font-size: 120%; background: $coBlue; background-color: rgba(7,115,179,0.85); padding: 10px;}
	.stack-short .stackDetails {float: left; padding: 20px 26px;}
		.stack-short .stackDetails h2 {font-size: 260%; font-weight: normal;}
		.stack-short .stackDetails h3 {font-size: 140%; margin: 0; font-weight: normal;}
		.stack-short .stackMembers {padding: 25px 0 50px;}
	.stackLink a {display: block; position: absolute; top: 0; right: 0; width: 50px; height: 245px; background: #b3b3b3 url("../images/arrow_big.png") 50% 50% no-repeat;
		-webkit-transition: width .5s ease-in;
		-moz-transition: width .5s ease-in;
		-ms-transition: width .5s ease-in;
		-o-transition: width .5s ease-in;
		transition: width .5s ease-in;
		}
		.stackLink a:hover {width: 60px;
			-webkit-transition: width .2s ease-in;
			-moz-transition: width .2s ease-in;
			-ms-transition: width .2s ease-in;
			-o-transition: width .2s ease-in;
			transition: width .2s ease-in;
			}

.stack-short.past-stack {}

/* ====================================================

	DRAFT STACKS

==================================================== */

.stack-draft {
	padding: 20px;
	margin-bottom: 20px;
	&.no-drafts {
		opacity: 0.3;
	}
	h3 {
		padding: 30px 0 0;
		margin-bottom: 0;
		&:first-child {
			padding-top: 0;
		}
	}
}

/* ====================================================

	STACK REQUEST FORM

==================================================== */

.stack_reqform {
	padding-top: 25px;
	section {
		clear: both;
		margin-bottom: 5px;
		@include clearfix;
		label {
			float: left;
			width: 30%;
			padding-top: 5px;
		}
		input[type=text] {
			float: left;
			width: 65%;
		}
		input[type=date] {
			float: left;
			width: 65%;
		}
		select {
			float: left;
			width: 66%;
		}
		textarea {
			float: left;
			width: 65%;
			height: 100px;
		}
		&.submit-request {
			padding-left: 30%;
			input {
				width: 95%;
			}
		}
	}
}
.sentRequest {
	padding: 5px 10px;
	border-radius: 5px;
	background: $coBlue;
	color: #fff;
	margin: 20px 0;
}
.stackRequestDetails {
	display: block;
	border: 1px solid #aaa;
	border-width: 1px 0;
	padding: 20px 0;
	margin: 10px 0;
}

/* ====================================================

	TABS

==================================================== */

.archiveTabs {margin-bottom: -4px;}
	.archiveTabs a {float: left; color: #fff; padding: 10px 20px; border-bottom: 4px solid $coBlue; margin-top: 20px;}
	.archiveTabs a:hover {border-color: #0b527c; background: #272727;}
	.archiveTabs a.current {border-color: $coGreen; font-size: 180%; @include OpenSans; margin-top: 0;}

/* ====================================================

	COMMENTS

==================================================== */

/* Comment Tabs */
.commentsTabs {padding-top: 40px;}
	.commentsTabs h2 {float: left; font-size: 100%; padding: 10px 20px 12px;}
	.commentsTabs h2.active {border-bottom: 2px solid #3579b3; padding-bottom: 10px;}
	.commentsTabs h2:hover {cursor: pointer;
		background-image: -webkit-linear-gradient(top, #2c2c2c 0%, #252525 100%);
		background-image: -moz-linear-gradient(top, #2c2c2c 0%, #252525 100%);
		background-image: -ms-linear-gradient(top, #2c2c2c 0%, #252525 100%);
		background-image: -o-linear-gradient(top, #2c2c2c 0%, #252525 100%);
		background-image: linear-gradient(top, #2c2c2c 0%, #252525 100%);
	}

/* Comment displays */
.comments-container {background: #1d1d1d; border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	-ms-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	-o-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	}
	.commentlist {padding: 20px;}
		.commentlist, .commentlist li {margin: 0; list-style: none;}
		.comment {color: #ccc;}

		.comment-left {float: left; width: 48px;}
			.comment-left img {display: block;}
			.commenticon {display: block; height: 7px; background: #222; text-indent: -9999px; margin-top: 5px;}
				.commenticon.going {background: #5B9929;}
				.commenticon.requested {background: $coBlue;}
				.commenticon.commleader {background: #B93131;}
		.comment-right {margin-left: 60px;}
			.comment-right .comment-author cite {font-size: 120%; font-weight: bold; font-style: normal;}
			.comment-right .comment-posted-date {font-style: italic; font-size: 80%; color: #666;}
			.comment-body {padding: 15px 0;}

			.comment-actions {padding: 0 0 10px 0; margin-bottom: 10px; border-bottom: 1px solid #2c2c2c;}
				.commentlist > .comment:last-child .comment-actions {border-bottom: 0;}
				.comment-actions > div {float: left; margin-right: 10px; font-size: 80%;}
				.comment-actions .reply a {display: block; padding: 5px 10px; color: #fff; background: #444;}
				.comment-actions .reply a:hover {background: #666;}

		/* Nested Comments */
		.commentlist ul {padding: 0 0 10px 60px; margin: 0;}

/* Respond */
.comment-form-container {border-top: 1px solid #2c2c2c; padding: 20px;}
	#respond {
		h3 {font-size: 120%; margin-bottom: 5px;}
		.logged-in-as {color: #666;}

		// non-logged in fields
		.comment-fields label {float: left; width: 120px; line-height: 28px; cursor: pointer;}

		// textarea
		.comment-form-comment label {display: block; margin: 5px 0; cursor: pointer;}
		.comment-form-comment textarea {width: 97.5%;}

		// allowed tags
		.form-allowed-tags {color: #666; font-size: 80%; width: auto;}
	}

	/* Comment Replies */
	.comment #respond {padding: 10px 0 20px 60px;}

/* ====================================================

	ANNOUNCEMENTS

==================================================== */
.announcement {background: #05598a; background: rgba(5,89,138,0.85); padding: 20px 0; color: #fff; margin-bottom: 20px;}
.announcement h2 {margin-bottom: 5px; font-weight: normal;}
.announcement p {line-height: 1.5;}

/* ====================================================

	PAGE STYLES

==================================================== */

.page-title {margin: 0; padding: 15px 0 15px; font-weight: normal; @include OpenSans;}
.page-container {
	margin: 0 0 20px 0;
	background: #d8d8d8;
	padding: 20px;
	color: #292727;
	border-top: 4px solid $coBlue;
	line-height: 1.5;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	}
	.page-container p:last-child {padding-bottom: 0;}
	#primary {margin-top: 20px;}

	.cFull {
		-webkit-transition: width .3s ease-in-out;
		-moz-transition: width .3s ease-in-out;
		-ms-transition: width .3s ease-in-out;
		-o-transition: width .3s ease-in-out;
		transition: width .3s ease-in-out;
	}

/* ====================================================

	PAGE COLUMNS

==================================================== */

.entry-content {
	@include clearfix;
	.column {
		float: left;
		@include border-box;
		&.column_3 {
			width: 33%;
			padding-left: 20px;
		}
		&:first-child {
			padding-left: 0;
		}
	}
}


/* ====================================================

	REGISTER/ACTIVATE

==================================================== */
#register-page .submit {margin-top: 20px;}
#activation-form #key {float: left; margin-right: 10px;}

/* ====================================================

	HOMEPAGE

==================================================== */

.home-page {
	.sectionHead {
		padding: 15px 0 15px
	}
	.nextStack .stack-full {
		margin-top: 0;
	}
	.stack-short {
		margin-bottom: 20px;
	}
}

/* ====================================================

	BUDDYPRESS CORE & PROFILES

==================================================== */

/* Removing buddypress login/account bar */
html {margin-top: 0 !important;}

.bp-user .page-container,
.groups .page-container,
.members .page-container {margin-top: 40px;}
	#item-header {
		.updated {
			color: $coGreen;
			font-style: italic;
			float: right;
		}
	}
	#item-header-avatar {margin: -40px 20px 0 0; float: left;}
		#item-header-avatar img {
			-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
			-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
			-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
			-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
			box-shadow: 0 0 20px rgba(0,0,0,0.5);
			}
	#item-header .activity {display: inline-block; padding: 5px; color: #666; font-size: 80%;}

	/* PM/Add friend buttons */
	#item-buttons a {float: left; width: 30px; height: 25px; text-indent: -999px; margin-right: 6px; background: url("../images/sprite-icons.png") top left no-repeat;}
		#item-buttons a.add {background-position: -3px -923px;}
		#item-buttons a.remove {background-position: -1px -975px;}
		#item-buttons a.send-message {background-position: -2px -868px;}

	// Hiding "Social Networking" group from regular profile view
	.bp-widget.social-networking {display: none;}

/* Top level tabs */
#item-nav {padding-top: 20px;}
.item-list-tabs {clear: both; margin: 0 -20px; background: #131313; min-height: 36px; line-height: 36px; @include clearfix;}
	.item-list-tabs ul,
	.item-list-tabs li {float: left; list-style: none; padding: 0; margin: 0;}
	.item-list-tabs li > a,
	.item-list-tabs li > span {display: block; padding: 0 20px; color: #fff; border-right: 1px solid #535353;}
		.item-list-tabs a:hover {background: #044064;}
		.item-list-tabs .current a,
		.item-list-tabs .selected a {background: $coBlue;}

		/* Tab Counts */
		.item-list-tabs a span {padding: 2px 6px; background: #222; border-radius: 3px; font-size: 75%; margin-left: 5px; line-height: 1;}

		/* Filter */
		#activity-filter-select {padding-left: 10px;}

/* Secondary tabs */
.item-list-tabs#subnav {background: transparent; background: $coBlue; margin-bottom: 20px; border: 0; min-height: 28px; line-height: 28px; padding: 3px; position: relative; @include clearfix;}
	.item-list-tabs#subnav ul {width: 100%; font-size: 80%; color: #ddd;}
	.item-list-tabs#subnav a {border: 0;}
	.item-list-tabs#subnav a:hover {background: #045B8E;}
		.item-list-tabs#subnav .current > a {font-weight: bold;}

	#subnav input[type="submit"] {background: #065c8f;}
	#subnav input[type="submit"]:hover {background: #084d75;}

#item-nav,
.profile {clear: both;}

.item-body {padding-top: 20px;}
	.left-menu {float: left; padding-right: 20px;}

/* Messages */
a.bp-secondary-action, span.highlight {font-size: 80%; margin-right: 10px;}

/* Subnav searches and filters */
.message-search {position: absolute; top: 3px; right: 10px; font-size: 80%;}
#members-order-select,
#groups-order-select {float: right; padding-right: 10px;}

/* Profile Fields */
.profile-fields {font-size: 80%;}
	.profile-fields .alt {background: #ccc;}
	.profile-fields p {padding: 0;}

	.editfield .description {padding-bottom: 6px; font-size: 80%;}

	/* "who can see this field?" */
	.field-visibility-settings-toggle,
	.field-visibility-settings-notoggle {font-size: 75%; font-style: italic; padding: 3px 0 0 0;}
		.field-visibility-settings-toggle .current-visibility-level,
		.field-visibility-settings-notoggle .current-visibility-level {font-weight: bold; font-style: normal;}

	/* Toggles for visibility settings */
	.field-visibility-settings {font-size: 80%;}
		.field-visibility-settings fieldset {border: 0; padding: 0; margin: 0;}
		.field-visibility-settings legend {font-weight: bold; margin-bottom: 4px;}
		.field-visibility-settings ul,
		.field-visibility-settings li {list-style: none; padding: 0; margin: 0;}
		.standard-form .field-visibility-settings label {font-weight: normal; margin: 5px 0;}

	// Submit buttons should have some space above them
	.xprofile .submit,
	.bp-user .submit {padding-top: 20px;}

/* Wordpress/Buddypress Standard Forms */
.standard-form label, .standard-form span.label {display: block; font-weight: bold; margin: 15px 0 5px;}
.standard-form input[type="text"] {width: 75%;}
.standard-form input[type="password"]  {margin-bottom: 3px;}

// button navigation - profile sections etc.
.button-nav {
	@include clearfix;
	margin: 0 0 20px;
	&, li {
		list-style: none;
		padding: 0;
		float: left;
		a {
			display: block;
			float: left;
			padding: 5px 10px;
			margin-right: 5px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
			background: #c5c5c5;
			border: 1px solid transparent;
			color: #666;
			&:hover {
				border-color: #bbb;
				background: transparent;
				-webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.75);
				-moz-box-shadow: inset 0 0 5px rgba(255,255,255,0.75);
				-ms-box-shadow: inset 0 0 5px rgba(255,255,255,0.75);
				-o-box-shadow: inset 0 0 5px rgba(255,255,255,0.75);
				box-shadow: inset 0 0 5px rgba(255,255,255,0.75);
			}
		}
		.current {
			font-weight: bold;
		}
	}
}

/* ====================================================

	BUDDYPRESS STACK CALENDAR

==================================================== */

.stack-calendar-view {
	.stack-calendar-navigation {
		background: #131313;
		color: #fff;
		border-bottom: 3px solid $coBlue;
		@include clearfix;
		.celendar-selectors {
			float: left;
			.select {
				float: left;
				border-right: 1px solid $coBlue;
				padding: 8px 9px;
			}
			.submit {
				float: left;
				padding: 8px 9px;
				button {
					@include bluebutton;
				}
			}
		}
		.calendar-nextprev {
			float: right;
			div {
				float: left;
				width: 48px;
				height: 48px;
				@include ir;
				border-left: 1px solid $coBlue;
				a {
					display: block;
					width: 48px;
					height: 48px;
				}
			}
		}
	}
	table {
		th {
			background: #aeaeae;
			text-align: center;
			vertical-align: middle;
			padding: 5px;
		}
		td {
			background: #c4c4c4;
			text-align: center;
			vertical-align: middle;
			padding: 5px;
			border: 1px solid #d8d8d8;
			position: relative;
			&.date-today {
				background: $calToday;
				color: #fff;
				font-weight: bold;
			}
			&.date-none {
				background: #d8d8d8;
			}
			&.has-stack {
				background: $calHasStack;
				color: #fff;
			}
			&.has-irl {
				background: $calHasIRL;
				color: #fff;
			}
			.stack-details {
				position: absolute;
				top: -100px;
				left: 0;
				width: 200px;
				height: 100px;
				background: $coBlueTransparent;
			}
			a {
				color: #fff;
			}
		}
	}
}

// Key
.stacks-calendar-key {
	padding: 10px 0;
	font-size: 85%;
	.key {
		margin-right: 10px;
		.keybox {
			display: inline-block;
			width: 10px;
			height: 10px;
			&.has-stack {
				background: $calHasStack;
			}
			&.has-irl {
				background: $calHasIRL;
			}
			&.today {
				background: $calToday;
			}
		}
	}
}

// Downloads (ical files)
.stacks-calendar-downloads {
	margin: 10px -20px -20px;
	padding: 10px 20px;
	background: #ccc;
}

/* ====================================================

	BUDDYPRESS MESSAGES

==================================================== */

.pagination {font-size: 80%; padding: 5px 0;}
#message-threads {margin: 0 -20px 20px; width: auto;}
	.message-box {padding: 20px; margin: 0 -20px;}
	#message-threads tr.alt td,
	.message-box.alt {background: #ccc;}
		#message-threads .thread-options {vertical-align: middle;}
		#message-threads p:last-child,
		.thread-info p,
		.message-box p:last-child {padding-bottom: 0;}
		#message-threads .thread-from .activity,
		#message-threads .thread-excerpt,
		.message-box .activity {font-size: 80%; color: #666; font-weight: normal;}
		.message-metadata img {float: left; margin-right: 10px;}
		.message-content {margin-left: 40px;}
		.message-content textarea,
		#message_content,
		#group-desc {width: 97.5%; margin: 10px 0; height: 120px;}

/* ====================================================

	BUDDYPRESS FRIENDS & GROUPS

==================================================== */

.dir-search {margin-top: -50px; float: right;}
.standard-form label ul, .standard-form span.label ul {font-weight: normal;}
.groups #item-actions {float: right; margin: 0 0 20px 20px;}

#members-list,
#member-list,
#groups-list {
	&,
	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		padding: 20px 0;
		border-top: 1px solid #bbb;
		&:first-child {
			border-top: none;
		}
		.item-avatar,.item {
			float: left;
		}
		.action {
			float: right;
			font-size: 80%;
			color: #666;
		}
		.item-avatar {
			padding-right: 10px;
		}
		.item-meta {
			font-size: 80%;
			color: #666;
		}
	}
}

// Group member listing
// out-dated codebase? different format to above
#member-list li {
	> a {
		float: left;
		margin-right: 10px;
	}
	h5 {
		font-size: 100%;
	}
	span {
		font-size: 80%;
		color: #666;
	}
}

// Group admins
#group-admins {
	&,li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		float: left;
	}
}

// hiding members and group searches
// replaced with global search in header.php
#members-dir-search,
#group-dir-search {display: none;}

/* ====================================================

	BUDDYPRESS SETTINGS

==================================================== */

table.notification-settings th.icon, table.notification-settings td:first-child {display: none;}
table.notification-settings {margin-bottom: 20px;}
table.notification-settings .yes, table.notification-settings .no {text-align: center;width: 40px;}

/* ====================================================

	BUDDYPRESS STACKS

==================================================== */

.bp-stack-list {padding-top: 20px;}
#item-body .noresults {display: block; padding-top: 20px; font-style: italic;}
.bp-stack {margin: 0 -20px; padding: 10px 20px;}
	.bp-stack .stack-avatar {float: left;}
		.bp-stack .stack-avatar img {width: 100px; height: auto;}
	.bp-stack .stack-details {margin-left: 120px; font-size: 80%; color: #666;}
		.bp-stack .stack-details .time {display: block; font-style: italic; margin-bottom: 10px;}
		.bp-stack .stack-details .stack_number {font-weight: bold;}
	.bp-stack.alt {background: #ccc;}

// Stack sorting options
.stacks-list-sort {
	float: right;
	margin: -15px 0 15px;
	font-size: 85%;
	a {
		margin-left: 10px;
	}
}

/* ====================================================

	404 Page

==================================================== */
.container404 {text-align: center;}
	.container404 h2, .container404 h3 {font-weight: normal; padding: 20px 0;}
	.container404 h2 {font-size: 200%;}
	.container404 h3 {font-size: 150%;}
	.container404 img {
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
		-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
		-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
		}

/* ====================================================

	TABLES

==================================================== */
/* Tables */
table {width: 100%;}
table tr td, table tr th {padding: 8px; vertical-align: top;}
table tr th {text-align: left; background: #ccc;}
table tr td.label {font-weight: bold; width: 25%;}

/* ====================================================

	PAGINATION

==================================================== */

.classic-pagination {
	padding: 15px 0;
	.nav-previous {float: left;}
	.nav-next {float: right;}
	a {
		color: #aaa;
	}
	a:hover {
		color: #ccc;
	}
}

.ajax-pagination {
	a {
		color: #aaa;
	}
	a:hover {
		color: #ccc;
	}
	a.disabled {
		cursor: not-allowed;
		color: #666;
	}
}

.page-break {
	border-top: 1px dotted #555;
	height: 20px;
	margin-top: 20px;
}

/* ====================================================

	FORUM

==================================================== */
// ---- Forum Index ---- //
@import url("bbpress.css");

// ---- Breadcrumbs ---- //
.bbp-breadcrumb {
	// hide homepage breadcrumb
	.bbp-breadcrumb-home,
	.bbp-breadcrumb-home+span {
		display: none;
	}
	// hide breadcrumbs on forum index
	#forum-front & {
		display: none;
	}
}

.bbp-breadcrumb,
.bbp-pagination {color: #ccc;}

// ---- Top Notice ---- //
div.bbp-template-notice.info {
	background: #212121;
	color: #ccc;
	border-color: transparent;
}

// ---- General Forum Display Styles ---- //
table.bbp-forums,
table.bbp-replies,
table.bbp-topics {
	color: #292727;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#content table tbody tr.even td {
	background: #ccc;
}
#content table tbody tr.odd td {
	background: #d8d8d8;
}

table.bbp-forums th,
table.bbp-topics th,
table.bbp-topic th,
table.bbp-replies th {
	border-bottom: 3px solid $coBlue;
	background: #131313;
	color: #ccc;
	font-weight: normal;
	padding: 10px 20px;
}

#content table.bbp-forums tfoot td,
#content table.bbp-topics tfoot td,
#content table.bbp-topic tfoot td,
#content table.bbp-replies tfoot td,
#content table.bbp-replies tr.bbp-reply-header td,
#content table.bbp-topic tr.bbp-topic-header td {
	background: #ececec;
	padding: 10px 15px;
	color: #666;
}

// hiding seemingly unncessary tfoots
#content table.bbp-forums tfoot,
#content table.bbp-topics tfoot,
#content table.bbp-topic tfoot,
#content table.bbp-replies tfoot {
	display: none;
}

#content table.bbp-replies tfoot {
	display: none;
}

.bbp-pagination-count {font-size: 85%;}

// ---- Forum Index ---- //
.bbp-forum-info,
.bbp-forum-topic-count,
.bbp-forum-reply-count,
.bbp-topic-reply-count,
.bbp-topic-voice-count,
.bbp-topic-action,
.bbp-topic-freshness,
.bbp-forum-freshness {
	vertical-align: middle;
}
// x time ago link
.bbp-topic-freshness > a,
.bbp-forum-freshness > a {
	font-size: 75%;
}

#content table.bbp-topics,
#content table.bbp-forums,
#content table.bbp-replies,
#container table.bbp-topics,
#container table.bbp-forums,
#container table.bbp-replies,
#main table.bbp-topics,
#main table.bbp-forums,
#main table.bbp-replies {
	margin-bottom: 20px;
}

table.bbp-topics td,
table.bbp-forums td,
table.bbp-replies td {
	padding: 20px;
}

// ---- Thread/Topic Lists ---- //
.bbp-forum-title,
.bbp-topic-permalink {
	font-size: 130%;
}

// ---- Thread Posts ---- //
.bbp-topic a.bbp-topic-permalink,
.bbp-replies a.bbp-reply-permalink,
span.bbp-admin-links a {
	color: $coBlue;
}

.bbp-reply-header {
	border-top: 1px solid $coBlue;
	&:first-child {
		border-top: none;
	}
}

#content div.bbp-topic-tags {
	background: #222;
	color: #ccc;
	padding: 10px 15px;
	p {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.bbp-reply-author .gaming-name {
	display: block;
	padding: 0;
	font-size: 80%;
	color: #666;
}

// ---- Form for New Posts/Threads/Replies ---- //
#content fieldset.bbp-form,
#container fieldset.bbp-form,
#wrapper fieldset.bbp-form {
	background: #eee;
	border: none;
	padding: 60px 20px 20px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	> legend {
		position: absolute;
		top: 0;
		left: 0;
		@include border-box;
		width: 100%;
		background: #131313;
		padding: 15px 20px;
		color: #ccc;
		border-bottom: 3px solid $coBlue;
	}
	.bbp-submit-wrapper button {
		@include bluebutton;
	}
	.mceIframeContainer {
		background: #fff;
	}
}

// Unread posts icons (deprecated)
.bbpresss_unread_posts_icon {
	a {
		display: block;
		width: 20px;
		height: 20px;
		margin-top: 10px;
		img {
			display: none;
		}
	}
	&.new a {
		background: url("../images/bbpress_new.png");
	}
	&.old a {
		background: url("../images/bbpress_old.png");
	}
}

// Unread posts (bbpress mod - mark as read)
.bbp-topic-unread {
	.bbp-topic-title a {font-weight: bold;}
}

// Popup tools
body .wp-dialog {
	border: none;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 20px rgba(0,0,0,0.5);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	.ui-dialog-titlebar {
		background: #222;
		color: #ccc;
		padding: 5px 20px;
		border-bottom: 3px solid $coBlue;
		.ui-dialog-titlebar-close {
			top: 8px;
		}
	}
	.ui-dialog-content {
		color: #222;
		input[type=text] {
			border: none !important;
			padding: 5px !important;
		}
		p.toggle-arrow {
			padding-bottom: 0;
		}
	}
}

// search results
.search-results .forum-results h3 {margin: 25px 0 10px 0;}

/* ====================================================

	TIPSY TOOLTIPS

==================================================== */

.tipsy { font-size: 85%; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }

	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

/* ====================================================

	CUSTOM FONTS

==================================================== */

h1,h2,h3,h4,h5,
.ctaBlue,
.stackThis,
.navigation {@include OpenSans;}

/* ====================================================

	HELPERS AND COMMON STYLES

==================================================== */

/* Containers, wrappers and grids */
/* .cFull = full width */
.cFull {width: 960px; margin: 0 auto;}

/* Call to action buttons */
a.ctaBlue {background: #3579b3; color: #fff; padding: 20px; float: right; margin: 20px 0; clear: both; font-size: 120%; font-weight: 600;}
	a.ctaBlue:hover {background: #549cd9;}

/* Headings */
.sectionHead {color: #fff; padding: 20px 0 10px;}

/* HTML5Boilerplate common */
.ir {@include ir;}
.hidden {display: none !important; visibility: hidden;}

.visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}

.invisible {visibility: hidden;}
.clearfix {@include clearfix;}
.clear {clear: both;}

/* ====================================================

	FLEXIBLE MEDIA QUERY

==================================================== */
@media (max-width: 1000px) {
	.cFull {width: 700px;}

	// Short Stack
	.stack-short {
		.stackDetails {
			max-width: 320px;
			.stackMembers {
				padding-bottom: 12px;
			}
		}
	}

	// Forum
	// Responsive reply/newpost form
	#content fieldset.bbp-form,
	#container fieldset.bbp-form,
	#wrapper fieldset.bbp-form {
		input[type=text] {
			width: 80%;
		}
		#bbp_topic_content_toolbargroup {
			width: 200px;
		}
		table.mceToolbar,
		table.mceToolbar tr,
		table.mceToolbar td {
			display: block;
			float: left;
		}
	}
}

/* ====================================================

	MOBILE WEBSITE

==================================================== */
@media (max-width: 850px) {

	// Layout
	.cFull {
		width: 90%;
		//max-width: 500px;
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
	}
	.header .cFull {
		width: 100%;
	}
		.logo {
			display: block;
			clear: both;
			margin: 10px auto;
			float: none;
		}

	// Account Info
	.userinfo {
		float: none;
		position: absolute;
		top: 187px;
		width: 100%;
		background: #ccc;
		display: none;
		z-index: 10;
		&.mobile-visible {
			display: block;
		}
		.userinfo-logout {
			float: right;
			margin-right: 10px;
		}
	}

	// Login
	.login {
		display: none;
		position: absolute;
		top: 159px;
		padding: 20px 0;
		width: 100%;
		background: #ccc;
		float: none;
		z-index: 10;
		&.mobile-visible {
			display: block;
		}
		.loginFields {
			padding-left: 10px;
			input {
				max-width: 90%;
				margin-bottom: 5px;
			}
		}
		.loginActions {
			padding: 0 10px;
			input, span {
				display: block;
				clear: both;
				float: none;
			}
			span {
				padding-top: 10px;
			}
		}
	}

	// Search
	.search-anchor {
		&:hover {background: transparent;}
		&.search-field-visible {display: block;}
	}
	.search-field {
		top: 65px;
		width: 100%;
		z-index: 10;
		.search-field-input {width: 65%;}
		.search-field-button {width: 60px; float: right;}
		.search-field-cancel {display: none;}
	}

	// Menu
	.navigation .cFull {
		position: relative;
		width: 100%;
		max-width: inherit;
	}
	.menu {
		display: none;
		z-index: 10;
		> li:first-child > a {
			border-left: none !important;
		}
		&.mobile-visible {
			display: block;
			top: 65px;
			position: absolute;
			background: #222;
			width: 100%;
			float: none;
			border-bottom: 5px solid $coBlue;
			> li {
				float: none;
				width: 100%;
				a {
					border-bottom: 1px solid $coBlue;
					border-width: 0 0 1px 0;
				}
				ul {
					display: block;
					width: auto;
					position: static;
					float: none;
					background: transparent;
					padding: 0;
					li {
						float: none;
						background: transparent;
						a {
							border-radius: 0;
							border-bottom: 1px solid $coBlue;
							padding-left: 20px;
							&:before {
								content: "» ";
							}
						}
					}
				}
			}
		}
	}
	.mobile-account-hitbox,
	.mobile-login-hitbox {
		display: block;
		float: left;
		width: 60px;
		height: 60px;
		@include ir;
		cursor: pointer;
	}
	.mobile-menu-hitbox {
		display: block;
		float: left;
		width: 60px;
		height: 60px;
		@include ir;
		cursor: pointer;
	}

	// Index
	.home-page .pastStacks {display: none;}

	// Large Stacks
	.stack-full {
		.stackInfo {
			position: static;
			width: auto;
			h2 {
				font-size: 180%;
			}
		}
		.stackDetailsLeft,
		.stackDetailsRight {
			float: none;
			clear: both;
			width: auto;
		}
		.stackDetailsRight {padding-top: 20px;}
		.stackDetailsRight .stackThis,
		.stackDetailsRight .stackThisDisabled {
			margin-top: 0;
		}
		.stackedMembersList li {
			width: 100%;
			float: none;
		}
		.stackRequested,
		.stackPosted {float: none; clear: both; width: 100%;}
	}

	// Short Stacks
	.stack-short {
		.stackArt {
			float: none;
			display: none;
			img {
				width: auto;
				height: auto;
				max-width: 100%;
			}
		}
		.stackDetails {
			float: none;
			.stackMembers {
				padding-bottom: 12px;
			}
			.stackTextMeta {
				padding-bottom: 10px;
			}
		}
		.stackLink a {
			position: static;
			width: 100%;
			clear: both;
			height: auto;
			text-indent: 0;
			padding: 10px 0;
			text-align: center;
			background: #b3b3b3;
		}
	}

	// Stack Archive Tabs
	.archiveTabs {
		margin-bottom: 10px;
		a {
			float: none;
			display: block;
			width: 100%;
			margin-top: 3px;
			border: 0;
			box-sizing: border-box;
			background: $coBlue;
			&.current {
				background: transparent;
			}
		}
	}

	// Profiles
	#item-header-content h2 {clear: both;}
	.message-search {
		position: static;
	}

	// Forum
	.bbp-forum-topic-count,
	.bbp-forum-reply-count,
	.bbp-forum-freshness,
	.bbp-topic-voice-count,
	.bbp-topic-reply-count,
	.bbp-topic-freshness,
	#subscription-toggle,
	#favorite-toggle {
		display: none;
	}

	#content .bbp-forum-info,
	#content .bbp-topic-title,
	td.bbp-forum-freshness,
	td.bbp-topic-freshness {
		display: block;
		width: 100%;
		box-sizing: border-box;
	}

	#content th.bbp-topic-author,
	#content th.bbp-reply-author {
		width: 80px;
		img {
			width: auto !important;
			height: auto !important;
			max-width: 100% !important;
		}
	}

	// Page Columns
	.entry-content .column {
		width: 100% !important;
		float: none !important;
		margin-bottom: 20px;
		&.column_3 {
			padding-left: 0;
		}
	}

	// Request a stack
	.stack_reqform {
		section {
			&.submit-request {
				padding-left: 0;
			}
			label,
			input[type=text],
			input[type=date],
			select,
			textarea {
				float: none;
				width: 98%;
			}
		}
	}

}