/* ====================================================

	CO-OPP STACK ENGINE
	Admin Stylesheet for custom meta boxes,
	custom post types and so on

==================================================== */

/* ====================================================

	META BOXES

==================================================== */
.stack_meta section {padding: 10px; border-top: 1px solid #ddd;}
	.stack_meta section:first-child {border-top: 0;}
	.stack_meta label {width: 100px; padding-right: 20px; display: inline-block; vertical-align: top; padding-top: 5px;}
		.stack_meta label.secondary {padding-left: 25px; width: auto;}
	.stack_meta textarea {width: 80%; height: 80px;}
	.stack_meta .stack-indented {padding-left: 126px;}
		.stack_meta .stack-indented label.checkbox-label {display: inline; width: auto; padding: 0;}